* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --jade: "#36B6AE";
    --orange: "#DC9545";
    --purple: "#BA93E9";
    --red: "#DB0E3F";
    --graylight: "#EAE9E9";
    --fontlight: "#798897";
    --fontdark: "#5F6974";
    --white: "#ffffff";
    --black: "#000000";
}

.product-card {
    padding: 15px;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
}

.plus {
    color: #36B6AE;
    font-size: 40px;
}

.product-card .product-image {
    height: 200px;
}

.product-card .product-image img {
    object-fit: contain;
}

.product-card .product-image>img:last-child {
    display: none;
}

.product-card:hover .product-image>img:nth-child(1) {
    display: none;
}

.product-card:hover .product-image>img:last-child {
    display: block;
}

.product-card:hover .action-bar {
    right: 15px;
}

.product-card .product-details .tittle {
    color: var(--black);
    font-size: 50px;
}

.product-card .product-details .price {
    color: var(--black);
    font-size: 20px;
}