.product-details-container {
    width: 500px;
    height: auto;
    background-color: var(--gray-light);
    position: absolute;
    right: 0;
    top: 5rem;
    z-index: 2;
}

.product-details-container .close-button {
    color: var(--orange-light);
    width: 40px;
    height: 40px;
    position: relative;
    left: 10px;
    top: 10px;
}

.product-details-container .close-button:hover {
    cursor: pointer;
}

.images-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.product-details-container .name_share_price-container {
    display: flex;
    width: 90%;
    height: 100px;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;
}

.name_share_price-container .name-share {
    display: flex;
    width: 80%;
}

.name-share .product-title {
    font-weight: bold;
}

.name-share .share-icon {
    width: 40px;
    height: 40px;
    position: relative;
    top: -10px;
    color: var(--orange-light);
    padding-left: 15px;
}

.name-share .share-icon:hover {
    cursor: pointer;
}

.product-details-container .product-description {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.name_share_price-container .product-price {
    font-weight: bold;
}

.product-details-container .add-to-cart-button {
    width: 350px;
    height: 60px;
    border-radius: 100px;
    margin-left: calc((100% - 350px)/2);
    margin-top: 50px;
    background-color: var(--jadeA);
    font-size: 20px;
    position: relative;
    color: var(--white1);
    bottom: 20px;
}

.product-details-container .add-to-cart-button:hover {
    cursor: pointer;
}

.product-details-container .add-to-cart-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transform: scale(0.95);
}